# Files and Patterns to ignore
settings/opera
settings/thunderbird
settings/local
settings/fonts
settings/git/gitconfig
bin/gobear
bin/soho-downloader
bin/spritefy
slackware/packages/*.tgz
slackware/packages/Slackbuilds/*/*.php
slackware/packages/Slackbuilds/*/*.tar.gz
slackware/packages/Slackbuilds/*/*.tar.bz2
slackware/packages/Compiled/*.t*z
settings/vim/bundle/*
settings/vim/.netrwhist
*.mp4
