# Files and Patterns to ignore
settings/opera
settings/chromium
settings/thunderbird
settings/local
settings/fonts
bin/gobear
bin/soho-downloader
bin/spritefy
bin/ctags
slackware/packages/*.tgz
slackware/packages/Slackbuilds/*/*.php
slackware/packages/Slackbuilds/*/*.tar.gz
slackware/packages/Slackbuilds/*/*.tar.bz2
slackware/packages/Slackbuilds/*/*.zip
slackware/packages/Compiled/*.t*z
settings/vim/bundle/*
settings/vim/.netrwhist
*.mp4
