<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="menu-apps-misc" label="Apps">
		<item label="K3B">
			<action name="Execute">
				<execute>
                    k3b
                </execute>
			</action>
		</item>
		<separator/>
		<item label="FileLight">
			<action name="Execute">
				<execute>
                    filelight
                </execute>
			</action>
		</item>
		<item label="Dolphin">
			<action name="Execute">
				<execute>
                    dolphin
                </execute>
			</action>
		</item>
		<separator/>
		<item label="XSane">
			<action name="Execute">
				<execute>
                    xsane
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Ksnapshot">
			<action name="Execute">
				<execute>
                    ksnapshot
                </execute>
			</action>
		</item>
		<item label="Kcalc">
			<action name="Execute">
				<execute>
                    kcalc
                </execute>
			</action>
		</item>
		<item label="KcolorChooser">
			<action name="Execute">
				<execute>
                    kcolorchooser
                </execute>
			</action>
		</item>
		<item label="KcharSelect">
			<action name="Execute">
				<execute>
                    kcharselect
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Kdevelop">
			<action name="Execute">
				<execute>
                    kdevelop
                </execute>
			</action>
		</item>
		<item label="QTDesigner">
			<action name="Execute">
				<execute>
                    designer
                </execute>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Firefox">
			<action name="Execute">
				<command>
                    firefox
                </command>
				<startupnotify>
					<enabled>
                        yes
                    </enabled>
					<wmclass>
                        Firefox
                    </wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="Chrome">
			<action name="Execute">
				<execute>chromium --incognito</execute>
				<startupnotify>
					<enabled>
                        yes
                    </enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Opera">
			<action name="Execute">
				<command>
                    opera
                </command>
				<startupnotify>
					<enabled>
                       yes
                    </enabled>
					<wmclass>
                       Opera
                    </wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="Opera Mobile">
			<action name="Execute">
				<execute>
                    operamobile
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Ktorrent">
			<action name="Execute">
				<execute>ktorrent</execute>
			</action>
		</item>
		<item label="Skype-v4l">
			<action name="Execute">
				<command>
                   skype-v4l
                </command>
				<startupnotify>
					<enabled>
                        yes
                    </enabled>
				</startupnotify>
			</action>
		</item>
		<item label="GFTP">
			<action name="Execute">
				<execute>
                    gftp
                </execute>
			</action>
		</item>
		<separator/>
		<item label="KVIrc">
			<action name="Execute">
				<execute>kvirc</execute>
			</action>
		</item>
		<item label="Xchat">
			<action name="Execute">
				<execute>
                    xchat
                </execute>
			</action>
		</item>
		<item label="Zenmap">
			<action name="Execute">
				<execute>
                    kdesu zenmap
                </execute>
			</action>
		</item>
	</menu>
	<menu id="apps-multimedia-menu" label="Multimedia">
		<item label="VideoLan">
			<action name="Execute">
				<execute>
                   vlc
                </execute>
			</action>
		</item>
		<item label="MPlayer">
			<action name="Execute">
				<command>
                   gmplayer
                </command>
				<startupnotify>
					<enabled>
                        yes
                    </enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Devede">
			<action name="Execute">
				<execute>
                   devede
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Gimp">
			<action name="Execute">
				<execute>
                   gimp
                </execute>
			</action>
		</item>
		<item label="Picture Viewer">
			<action name="Execute">
				<execute>
                   gpicview
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Audacious">
			<action name="Execute">
				<execute>
                   audacious
                </execute>
			</action>
		</item>
		<item label="Easytag">
			<action name="Execute">
				<execute>
                   easytag
                </execute>
			</action>
		</item>
		<item label="Audacity">
			<action name="Execute">
				<execute>
                   audacity
                </execute>
			</action>
		</item>
	</menu>
	<menu id="apps-menu-calligra" label="Calligra">
		<item label="Calligra Words">
			<action name="Execute">
				<execute>
                    calligrawords
                </execute>
			</action>
		</item>
		<item label="Calligra Sheets">
			<action name="Execute">
				<execute>
                    calligrasheets
                </execute>
			</action>
		</item>
		<item label="Calligra Flow">
			<action name="Execute">
				<execute>
                    calligraflow
                </execute>
			</action>
		</item>
		<item label="Calligra Stage">
			<action name="Execute">
				<execute>
                    calligrastage
                </execute>
			</action>
		</item>
		<item label="Calligra Plan">
			<action name="Execute">
				<execute>
                    calligraplan
                </execute>
			</action>
		</item>
	</menu>
	<menu id="apps-office-menu" label="Office">
		<item label="Vim">
			<action name="Execute">
				<execute>
                    gvim --remote-tab-silent
                </execute>
			</action>
		</item>
		<separator/>
		<item label="AddressBook">
			<action name="Execute">
				<execute>
                    thunderbird --addressbook
                </execute>
			</action>
		</item>
		<item label="LibreOffice">
			<action name="Execute">
				<execute>
                   libreoffice
                </execute>
			</action>
		</item>
		<item label="Gnumeric">
			<action name="Execute">
				<execute>
                   gnumeric
                </execute>
			</action>
		</item>
		<menu id="apps-menu-calligra"/>
		<item label="Kthesaurus">
			<action name="Execute">
				<execute>
                    kthesaurus
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Dia">
			<action name="Execute">
				<execute>
                   dia
                </execute>
			</action>
		</item>
		<item label="BrainDump">
			<action name="Execute">
				<execute>
                    braindump
                </execute>
			</action>
		</item>
		<item label="Umbrello">
			<action name="Execute">
				<execute>
                    umbrello
                </execute>
			</action>
		</item>
		<item label="Evince">
			<action name="Execute">
				<execute>
                   evince
                </execute>
			</action>
		</item>
		<separator/>
		<item label="TexMaker">
			<action name="Execute">
				<execute>
                    texmaker
                </execute>
			</action>
		</item>
		<item label="Gummi">
			<action name="Execute">
				<execute>
                    gummi
                </execute>
			</action>
		</item>
	</menu>
	<menu id="apps-games-menu" label="Games">
		<item label="SNES Emulator (zsnes)">
			<action name="Execute">
				<execute>
                   zsnes
                </execute>
			</action>
		</item>
		<item label="N64 Emulator (mupen64)">
			<action name="Execute">
				<execute>
                   mupen64plus
                </execute>
			</action>
		</item>
		<item label="NES Emulator (fceux)">
			<action name="Execute">
				<execute>
                   fceux
                </execute>
			</action>
		</item>
		<item label="GameBoy Emulator">
			<action name="Execute">
				<execute>terminal -e /mnt/data/Archive/Linux/bin/gameboy-wrapper</execute>
			</action>
		</item>
		<item label="DOS Emulator (DosBox)">
			<action name="Execute">
				<execute>
                   dosbox -conf /home/pratt/.config/dosbox.conf
                </execute>
			</action>
		</item>
		<item label="PlayOnLinux">
			<action name="Execute">
				<execute>
                    /mnt/data/System/Apps/playonlinux/playonlinux
                </execute>
			</action>
		</item>
		<separator/>
		<item label="SimCity 3000">
			<action name="Execute">
				<execute>
                    /usr/bin/sc3u-start
                </execute>
			</action>
		</item>
		<item label="WorldOfGoo">
			<action name="Execute">
				<execute>
                    /mnt/data/Games/PC/WorldOfGoo/WorldOfGoo
                </execute>
			</action>
		</item>
		<item label="UrbanTerror">
			<action name="Execute">
				<execute>
                    urbanterror
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Eboard">
			<action name="Execute">
				<execute>
                    eboard
                </execute>
			</action>
		</item>
		<item label="KGeography">
			<action name="Execute">
				<execute>
                    kgeography
                </execute>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Turn Off Screen">
			<action name="Execute">
				<execute>
                    xset dpms force off
                </execute>
			</action>
		</item>
		<item label="Openbox Config">
			<action name="Execute">
				<command>
                    obconf
                </command>
				<startupnotify>
					<enabled>
                        yes
                    </enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Openbox Menu">
			<action name="Execute">
				<execute>
                    obmenu
                </execute>
			</action>
		</item>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
		<item label="GTK Themes">
			<action name="Execute">
				<execute>
                    gtk-chtheme
                </execute>
			</action>
		</item>
		<item label="CUPs Printers">
			<action name="Execute">
				<command>
                    xdg-open http://localhost:631/
                </command>
				<startupnotify>
					<enabled>
                        no
                    </enabled>
					<icon>
                        cups
                    </icon>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="TaskManager">
			<action name="Execute">
				<execute>
                    xfce4-taskmanager
                </execute>
			</action>
		</item>
		<item label="KDE System Settings">
			<action name="Execute">
				<execute>
                    kdesu systemsettings
                </execute>
			</action>
		</item>
		<separator/>
		<item label="Volti">
			<action name="Execute">
				<execute>volti</execute>
			</action>
		</item>
		<item label="Xfce4 Mixer">
			<action name="Execute">
				<execute>xfce4-mixer</execute>
			</action>
		</item>
		<separator/>
		<item label="Lock Screen">
			<action name="Execute">
				<execute>
                   xlock
                </execute>
			</action>
		</item>
		<item label="Logout">
			<action name="Execute">
				<execute>
                   openbox --exit
                </execute>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<execute>
                   sudo /sbin/shutdown -r now
                </execute>
			</action>
		</item>
		<item label="Shutdown">
			<action name="Execute">
				<execute>
                   sudo /sbin/shutdown -h now
                </execute>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Application Menu"/>
		<menu id="apps-net-menu"/>
		<menu id="apps-multimedia-menu"/>
		<menu id="apps-office-menu"/>
		<menu id="apps-games-menu"/>
		<menu id="menu-apps-misc"/>
		<item label="Run Application">
			<action name="Execute">
				<execute>
                   gmrun
                </execute>
			</action>
		</item>
		<separator label="Common Apps"/>
		<item label="Vim">
			<action name="Execute">
				<execute>
                    gvim
                </execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<execute>
                   ck-launch-session dbus-launch --exit-with-session thunar
                </execute>
			</action>
		</item>
		<item label="Opera">
			<action name="Execute">
				<execute>
                   env QT_XFT=true opera
                </execute>
			</action>
		</item>
		<item label="Thunderbird">
			<action name="Execute">
				<decor>
                   yes
                </decor>
				<fullscreen>
                   no
                </fullscreen>
				<execute>
                   thunderbird
                </execute>
			</action>
		</item>
		<separator label="System Tools"/>
		<menu id="system-menu"/>
	</menu>
</openbox_menu>
